@import "tailwindcss";

:root {
    --foreground: #0a0a0a;
    --background: #ededed;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-onest);
    --font-doto: var(--font-doto);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
